.franco, footer, body section .contenedor-ciudad h2, body .contenedor-mayor .contenedor-padre .contenedor-texto .titulos, body .aqua, body .ciudad-title, body .galeria-title, body main h2, body main .como-moverse {
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .menu-top {
    gap: 0;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 600px) {
  .contenedor-texto .titulos .info {
    text-align: justify;
  }
  .fotos-cope {
    flex-direction: column;
  }
  .formulario {
    text-wrap: balance;
    max-width: 100vw;
    margin: auto;
  }
  .formulario .form {
    max-width: 90%;
  }
  .contenedor-galeria {
    display: flex !important;
    flex-direction: column;
  }
  .contenedor-galeria .img-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  .galeria-title,
  .ciudad-title,
  .p-ciudad,
  .titulos,
  .contacto,
  .aqua {
    font-size: 1rem;
    font-weight: regular;
    text-align: center;
  }
  .p-ciudad {
    text-align: left;
  }
  .info {
    font-size: 0.7rem;
    color: #FF6969;
    text-align: center;
  }
  .foto-item {
    width: 150px;
    height: 200px;
  }
  .texto-item h2 {
    font-size: 1em;
  }
  .texto-item p {
    font-size: 0.8em;
  }
  .texto-item .foto-ciudad {
    width: 200px;
    height: 200px;
  }
  .contenedor-ciudad {
    display: block;
  }
  .contenedor-ciudad .info {
    font-size: 15px;
    text-align: justify;
  }
  .contenedor-ciudad .foto-ciudad {
    display: none;
  }
}
.pic-container {
  max-width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pic-container:hover {
  filter: grayscale(50%);
}

@media (max-width: 1200px) {
  .pic-container {
    background-color: tomato;
    display: flex;
    flex-direction: column;
  }
}
header .navbar {
  background-image: linear-gradient(#8CC0DE, #b5cede);
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  padding: 10px;
  margin: 0;
}
header .navbar .container-fluid div ul {
  gap: 3em;
  margin: auto;
}
header .navbar .container-fluid div ul li a {
  color: whitesmoke;
  font-size: 1.2em;
  font-weight: bold;
}
header .navbar .container-fluid div ul li a:hover {
  text-decoration: underline;
  color: #FF6969;
}

body {
  background-image: radial-gradient(#f3e9b2, #f0ebd1);
  font-family: "montserrat";
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body main div .red, body main div .p-ciudad, body main div .formulario .contacto, body main .formulario div .contacto {
  color: #8CC0DE;
  font-weight: bold;
  font-size: 3em;
  margin-top: 50px;
  text-align: center;
}
body main div .green {
  color: #FF6969;
  font-weight: regular;
  font-size: 2em;
  text-align: center;
}
body main .container .nyhavn {
  width: 98%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 10px 5px;
}
body main .texto-principal {
  margin: 70px 70px 20px, 70px;
  padding: 50px;
}
body main .texto-principal p {
  color: #8CC0DE;
  font-size: 1.5em;
  font-weight: bold;
  text-align: justify;
  padding: 60px;
}
body main .como-moverse {
  color: #8CC0DE;
  margin: 50px;
}
body main h2 {
  color: #FF6969;
  font-size: 1.5em;
  margin: 20px;
}
body main p {
  color: #8CC0DE;
  font-size: 20px;
  padding: 30px;
  margin: 0px, 50px;
}
body main p a {
  text-decoration: underline;
  color: #FF6969;
  font-weight: bold;
}
body main p a:hover {
  cursor: pointer;
}
body main .pic-container {
  display: flex;
  gap: 3em;
  justify-content: center;
}
body main .pic-container img {
  max-width: 350px;
  border-radius: 5px;
}
body main .formulario .contacto {
  font-size: 1.5rem;
  margin: 30px;
}
body main .formulario .form {
  margin: 0 auto;
  margin-top: 20px;
  width: 550px;
  border: 1px solid #FF6969;
  border-radius: 5px;
  background-color: rgba(217, 235, 245, 0.9333333333);
}
body main .formulario .form ul {
  list-style: none;
  padding: 1rem;
  margin: 0;
  color: #FF6969;
}
body main .formulario .form ul li {
  display: flex;
  gap: 2em;
}
body main .formulario .form ul li label {
  display: flex;
  width: 100px;
  text-align: right;
  padding: 1rem;
}
body main .formulario .form ul li input {
  display: flex;
  margin-top: 1em;
}
body main .formulario .form ul li textarea {
  vertical-align: top;
  margin-top: 1em;
}
body main .formulario .form ul .conditions {
  margin-top: 1rem;
  text-align: right;
}
body main .formulario .form ul .botones {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 10px 20px;
}
body main .formulario .form ul .botones .boton {
  padding: 5px 10px;
  background-color: #FF6969;
  border: bisque solid 1px;
  color: bisque;
  border-radius: 5px;
}
body main .formulario .form ul .botones .boton:hover {
  transform: scale(1.2);
  cursor: pointer;
}
body main .formulario .form ul .botones .reset {
  color: #FF6969;
  background-color: rgb(230, 230, 230);
  border: #FF6969 1px;
}
body .galeria-title {
  color: #8CC0DE;
  margin-top: 30px;
}
body .contenedor-galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 3rem 2rem;
}
body .contenedor-galeria .img-item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
body .contenedor-galeria .full-width {
  grid-column: span 3;
}
body .ciudad-title {
  color: #8CC0DE;
  margin-top: 50px;
  margin-right: 80px;
}
body .p-ciudad {
  font-weight: bolder;
  margin: 20px 80px;
}
body .aqua {
  color: #8CC0DE;
  font-size: 2.5rem;
  margin-top: 50px;
}
body .mapa {
  display: flex;
  justify-content: center;
  margin: 50px;
}
body .contenedor-mayor, body .contenedor-mayor .contenedor-padre {
  align-content: center;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .contenedor-mayor .contenedor-padre {
  align-items: center;
  height: 100%;
}
body .contenedor-mayor .contenedor-padre .contenedor-texto {
  margin: 20px;
}
body .contenedor-mayor .contenedor-padre .contenedor-texto .titulos {
  color: #FF6969;
  margin-top: 30px;
}
body .contenedor-mayor .contenedor-padre .contenedor-texto .info {
  color: #8CC0DE;
  font-size: 1.3rem;
  margin: 10px;
}
body .contenedor-mayor .contenedor-padre .foto-item {
  width: 500px;
  height: 700px;
  object-fit: cover;
  border-radius: 5px;
}
body .contenedor-mayor .contenedor-padre .foto-item:hover {
  transform: scale(1.1);
}
body .fotos-cope {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  flex-wrap: wrap;
  gap: 1rem;
  opacity: 0.9;
}
body .fotos-cope .noche {
  width: 380px;
  height: 350px;
  margin-left: 85px;
  border-radius: 5px;
}
body .fotos-cope .noche:hover {
  transform: scale(1.1);
}
body section .logos {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 30px;
}
body section .logos a {
  width: 50px;
}
body section .logos a img {
  object-fit: cover;
  margin: 15px;
  width: 100%;
}
body section .logos a img:hover {
  transform: scale(1.2);
}
body section .contenedor-ciudad {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body section .contenedor-ciudad h2 {
  display: block;
  font-size: 2em;
  color: #FF6969;
  margin-top: 40px;
}
body section .contenedor-ciudad .texto-item {
  display: flex;
  justify-content: center;
}
body section .contenedor-ciudad .texto-item .info {
  color: #8CC0DE;
  font-size: 1.2em;
  margin: 20px;
}
body section .contenedor-ciudad div {
  display: flex;
  justify-content: center;
  margin: 30px;
}
body section .contenedor-ciudad div .foto-ciudad {
  width: 500px;
  height: 500px;
  border-radius: 5px;
}
body section .contenedor-ciudad div .foto-ciudad:hover {
  transform: scale(1.2);
}
body .medios-transporte {
  max-width: 80vw;
  margin: auto;
}

footer {
  color: #8CC0DE;
  font-size: 15px;
  margin-top: 100px;
}

/*# sourceMappingURL=style.css.map */
