@media screen and (max-width: 992px) {
    .menu-top {
        gap: 0;
        font-size: 0.8em;
    }

    @media screen and (max-width: 600px) {

        .galeria-title, .ciudad-title, .p-ciudad, .titulos {
            font-size: 20px;
            font-weight: regular;
        }


        .p-ciudad {
            text-align: left;
        }

        .info {
            font-size: 1rem;
        }

        .texto-item {
            h2 {
                font-size: 1em;
            }

            p {
                font-size: 0.8em;
            }

            .foto-ciudad {
                width: 200px;
                height: 200px;
            }
        }

        .contenedor-ciudad {
            display: block;

            .info {
                font-size: 15px;
                text-align: justify;
            }

            .foto-ciudad {
                display: none;
            }
        }

        .formulario {
            width: 50%;
            height: 50%;

            .form {
                object-fit: cover;

            }
        }



        .contenedor-galeria {
            display: flex;
            flex-direction: column;


            .img-item {
                img {
                    @include sizes(100%, 100%);
                    border-radius: 10px;
                    object-fit: cover;
                }
            }


        }

    }
    .pic-container {
        display: flex;
        flex-direction: column;
       

        img {

            @include sizes(400px, 400px);

            &:hover {
                filter: grayscale(50%)
            }
        }
    }
}